In [24]:
import numpy as np
import pandas as pd
import scipy.stats as st

In [13]:
#Даны значения величины заработной платы заемщиков банка (zp) и значения их поведенческого кредитного скоринга (ks):
zp = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
ks = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])
#Найдите ковариацию этих двух величин с помощью элементарных действий, а затем с помощью функции cov из numpy
#Полученные значения должны быть равны.
#Найдите коэффициент корреляции Пирсона с помощью ковариации и среднеквадратичных отклонений двух признаков,
#а затем с использованием функций из библиотек numpy и pandas.

In [18]:
cov1 = np.mean(zp*ks) - np.mean(zp)*np.mean(ks)
cov1

9157.839999999997

In [17]:
np.cov(zp, ks, ddof=0)

array([[ 3494.64,  9157.84],
       [ 9157.84, 30468.89]])

In [21]:
cov1/(np.std(zp)*np.std(ks))

0.8874900920739158

In [20]:
np.corrcoef(zp, ks)

array([[1.        , 0.88749009],
       [0.88749009, 1.        ]])

In [10]:
pd.DataFrame({"zp":zp, "ks":ks}).corr()

         zp       ks
zp  1.00000  0.88749
ks  0.88749  1.00000

In [27]:
#Измерены значения IQ выборки студентов, обучающихся в местных технических вузах:
iq = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])
#Известно, что в генеральной совокупности IQ распределен нормально.
#Найдите доверительный интервал для математического ожидания с надежностью 0.95.
alpha = 0.05

print(np.mean(iq), "+/-", st.norm.ppf(1 - alpha/2) * np.std(iq)/np.sqrt(len(iq)))

118.1 +/- 6.200738773430751

In [29]:
#Известно, что рост футболистов в сборной распределен нормально с дисперсией генеральной совокупности, равной 25 кв.см. Объем выборки равен 27,
#среднее выборочное составляет 174.2. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

M = 174.2
alpha = 0.05
var_x = 25
n=11
print(M, "+/-", st.norm.ppf(1 - alpha/2) * np.sqrt(var_x)/np.sqrt(n))

174.2 +/- 2.9547568815133136